* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: auto;
  background: rgb(7, 184, 194);
  background: linear-gradient(0deg, rgba(7, 184, 194, 1) 41%, rgba(254, 254, 254, 1) 100%);
}


header {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
}

.container-img {
  padding: 10px;
  display: flex;
  justify-content: center;
}


.title {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

h1 {
  box-shadow: 0 10px 10px -10px;
}

.content {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 108%;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 15px;
  border-radius: 20px;
  background: rgb(7, 184, 194);
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: rgb(7, 184, 194);
  color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
